@font-face {
    font-family: "BebasRegular";
    src: url("../fonts/BebasRegular/BebasRegular.eot");
    src: url("../fonts/BebasRegular/BebasRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BebasRegular/BebasRegular.woff") format("woff"),
    url("../fonts/BebasRegular/BebasRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaNeue-Regular";
    src: url("../fonts/HelveticaNeue-Regular/HelveticaNeue.eot");
    src: url("../fonts/HelveticaNeue-Regular/HelveticaNeue.woff")format("woff");
}
body {
    font-family: "BebasRegular", "Arial", sans-serif;
}
.site-wrapper {
    width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}
.center-alignment {
    width: 960px;
    margin: auto;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.logo {
    float: left;
}
.logo h1 {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 38px;
    text-transform: uppercase;
    color: #e8603c;
}
.logo span {
    color: #f3af9d;
}
.top-navigation {
    margin-top: 25px;
    float: right;
}
.top-navigation ul {
    font-size: 0;
    line-height: 0;
}
.top-navigation li {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.top-navigation a {
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: #b9b9b9;
}
.color-marking {
    position: relative;
    background-color: #e8603c;
    border-right: 10px solid #ffffff;
    border-left: 10px solid #ffffff;
}
.color-marking h2 {
    margin: 0;
    padding: 14px;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
}
.color-marking::before {
    content: '';
    position: absolute;
    top: 0;
    left: -220px;
    width: 22%;
    height: 100%;
    background-color: #f3af9d;
}
.color-marking::after {
    content: '';
    position: absolute;
    top: 0;
    right: -220px;
    width: 22%;
    height: 100%;
    background-color: #f3af9d;
}
.slider {
    float: left;
    width: 75%;
    margin-top: 25px;
    box-sizing: border-box;
}
.slider-item {
    position: relative;
}
.slider-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -85px;
    width: 75px;
    height: 75px;
    background-color: #e8603c;
}
.slider-item:nth-child(1)::after {
    content: '';
    position: absolute;
    top: 20px;
    left: -60px;
    width: 35px;
    height: 35px;
    background-image: url(../img/copy-icon.png);
    background-repeat: no-repeat;
}
.slider-item:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 20px;
    left: -60px;
    width: 35px;
    height: 35px;
    background-image: url(../img/list-icon.png);
    background-repeat: no-repeat;
}
.slider-item:nth-child(3) {
    clear: both;
}
.slider-item:nth-child(3)::after {
    content: '';
    position: absolute;
    top: 20px;
    left: -60px;
    width: 35px;
    height: 35px;
    background-image: url(../img/play-icon.png);
    background-repeat: no-repeat;
}
.slider-item:nth-child(4)::after {
    content: '';
    position: absolute;
    top: 20px;
    left: -60px;
    width: 35px;
    height: 35px;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
}
.slider-item:nth-child(5)::after {
    content: '';
    position: absolute;
    top: 20px;
    left: -60px;
    width: 35px;
    height: 41px;
    background-image: url(../img/link.png);
    background-repeat: no-repeat;
}
.slider h3 {
    margin: 0;
    margin-top: 17px;
    font-size: 23px;
    line-height: 23px;
    color: #e8603c;
    text-transform: uppercase;
}
.data-content {
    float: right;
    width: 72%;
    margin-right: 55px;
    margin-bottom: 25px;
}
.data-style p {
    font-family: "HelveticaNeue-Regular", "Arial";
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
}
.underline {
    clear: both;
    width: 92%;
    height: 13px;
    margin-bottom: 60px;
    background-image: url(../img/line.png);
    background-repeat: repeat-x;
}
.slider-item:nth-child(3) .underline {
    margin-bottom: 50px;
}
.slider-item:nth-child(4) .underline {
    margin-bottom: 45px;
}
.slider-item:nth-child(5) .underline {
    margin-bottom: 47px;
}
.data-description{
    margin-top: 15px;
    float: left;
}
.data-description p {
    font-family: "BebasRegular";
    font-size: 16px;
    line-height: 20px;
    color: #e8603c;
    text-transform: uppercase;
    margin: 0;
    margin-top: 5px;
}
.data-description span {
    font-size: 12px;
    line-height: 20px;
    color: #bababa;
}
.slider-textarea {
    margin-bottom: 55px;
    padding: 13px;
    width: 635px;
    background-color: #f3f3f3;
    border: none;
}
.some-of-best span {
    font-family: "HelveticaNeue-Regular", "Arial";
    color: #a0a0a0;
    font-size: 12px;
}
.some-of-best p {
    margin-top: 15px;
    margin-bottom: 50px;
}
.page-listener {
    margin-bottom: 50px;
}
.page-listener ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}
.page-listener li {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
}
.page-listener a {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e8603c;
}
.right-sidebar {
    float: right;
    width: 25%;
    margin-top: 25px;
    box-sizing: border-box;
}
.right-sidebar h4 {
    float: left;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #e8603c;
}
.right-line {
    float:left;
    width: 50%;
    height: 13px;
    margin-left: 20px;
    margin-top: 5px;
    background-image: url(../img/line.png);
    background-repeat: repeat-x;
}
.right-sidebar p {
    clear: both;
    font-family: "HelveticaNeue-Regular", "Arial";
    font-size: 12px;
    line-height: 15px;
}
.categories {
    margin-top: 19px;
}
.categories h4 {
    margin-bottom: 10px;
}
.right-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.right-sidebar li {
    clear: both;
    font-family: "HelveticaNeue-Regular", "Arial";
    font-size: 12px;
    line-height: 15px;
}
.photo-gallery h4 {
    margin-top: 35px;
}
.photo-gallery span{
    margin-top: 37px;
}
.photo-item {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #f3af9d;
    border: 1px solid #e8603c;
}
.photo-item-wrapper {
    clear: both;
    padding-top: 15px;
}
.basic-footer {
    padding-top: 35px;
    padding-bottom: 50px;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.footer-colons {
    color: #ffffff;
    width: 28%;
    margin-left: 25px;
    float: left;
    box-sizing: border-box;
}
.footer-colons h4 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 26px;
}
.footer-colons:nth-child(2) {
    margin-left: 60px;
}
.footer-colons p {
    margin: 0;
    margin-top: 10px;
    font-family: "HelveticaNeue-Regular", "Arial";
    font-size: 12px;
    line-height: 15px;
}
.footer-colons span {
    font-family: "HelveticaNeue-Regular", "Arial";
    font-size: 12px;
    line-height: 20px;
}
.twitter-widget a {
    color: #f2a991;
    next-decoration: none;
}
.twitter-widget span {
    color: #f2a991;
}
.social {
    margin-top: 20px;
}
.social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
}
.social li {
    display: inline-block;
}
.social a {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.fb {
    background-image: url(../img/facebook.png);
}
.twitter {
    background-image: url(../img/twitter.png);
}
.email {
    background-image: url(../img/email.png);
}
.rss {
    background-image: url(../img/rss.png);
}
.vimeo {
    background-image: url(../img/vimeo.png);
}